.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    padding: 1rem;
    background-color: var(--gray-500);
    margin-bottom: 1rem;
}

.completedTaskWrapper {
    display: flex;
    align-items: center;
    text-decoration: line-through;
    justify-content: space-between;
    border: 1px solid var(--gray-400);
    color: var(--gray-300);
    border-radius: 8px;
    padding: 1rem;
    background-color: var(--gray-500);
    margin-bottom: 1rem;
}

.completeTaskButton {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--gray-500);
    color: var(--gray-600);
    border-radius: 50%;
    border: 1px solid var(--blue);
    cursor: pointer;
}

.completeTaskButton:disabled  {
    background-color: var(--purple-dark);
    color: var(--gray-100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteTaskButton {
    color: var(--gray-300);
    border: 0;
    background-color: transparent;
}